<h1 class="mt-4">Tarefas</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{tarefa.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="success==true">
                Cliente salvo/atualizado com sucesso!
            </div>
            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                <p>{{erro.message}}</p>
            </div>
        </div>
    </div>

    <form #m="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-grup">
                    <label for="">Nome*</label>
                    <input type="text" class="form-control" [(ngModel)]="tarefa.nome" name="nome">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-grup">
                    <label for="">Local*</label>
                    <input type="text" class="form-control" [(ngModel)]="tarefa.local" name="cpf">
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-grup">
                    <label for="">Duracao*</label>
                    <input type="text" class="form-control" [(ngModel)]="tarefa.duracao" name="duracao">
                </div>
            </div>
 
            <div class="col-md-3">
                <div class="form-grup">
                    <label for="">Data hora*</label>
                    <input type="datetime-local" class="form-control" [(ngModel)]="tarefa.dataHora" name="dataHora">
                </div>
            </div>

        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-grup">
                    <button type="submit" class="btn btn-success" *ngIf="!tarefa.id">
                        <i class="fa fa-save"></i> Salvar
                    </button>

                    <button type="submit" class="btn btn-primary" *ngIf="tarefa.id">
                        <i class="fas fa-user-edit"></i> Atualizar
                    </button>

                    <button type="button" class="btn btn-danger ml-2" (click)="voltarParaListagem()">
                        <i class="fa fa-arrow-alt-circle-left "></i> Voltar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>